In [5]:
import graphlab as gl

In [7]:
sf = gl.SFrame('people-example.csv')

Finished parsing file C:\Users\myuser\Downloads\people-example.csv

Parsing completed. Parsed 7 lines in 0.022987 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,str,str,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file C:\Users\myuser\Downloads\people-example.csv

Parsing completed. Parsed 7 lines in 0.023986 secs.

In [9]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int

Rows: 7

Data:
+------------+-----------+---------------+-----+
| First Name | Last Name |    Country    | age |
+------------+-----------+---------------+-----+
|    Bob     |   Smith   | United States |  24 |
|   Alice    |  Williams |     Canada    |  23 |
|  Malcolm   |    Jone   |    England    |  22 |
|   Felix    |   Brown   |      USA      |  23 |
|    Alex    |   Cooper  |     Poland    |  23 |
|    Tod     |  Campbell | United States |  22 |
|   Derek    |    Ward   |  Switzerland  |  25 |
+------------+-----------+---------------+-----+
[7 rows x 4 columns]

In [10]:
sf.show()

Canvas is accessible via web browser at the URL: http://localhost:60526/index.html
Opening Canvas in default web browser.

In [13]:
# If you want Canvas visualization to show up on this notebook, 
# rather than popping up a new window, add this line:
gl.canvas.set_target('ipynb')

In [14]:
sf['age'].show(view='Categorical')

In [15]:
sf['Country']

dtype: str
Rows: 7
['United States', 'Canada', 'England', 'USA', 'Poland', 'United States', 'Switzerland']

In [16]:
sf['age']

dtype: int
Rows: 7
[24L, 23L, 22L, 23L, 23L, 22L, 25L]

In [17]:
sf['age'].mean()

23.142857142857146

In [18]:
sf['Full Name'] = sf['First Name'] + ' ' + sf['Last Name']

In [19]:
sf['age'] * sf['age']

dtype: int
Rows: 7
[576L, 529L, 484L, 529L, 529L, 484L, 625L]

In [20]:
sf['AgeSqure']=sf['age'] * sf['age']

In [22]:
a='Test : Will this variable show in Graphlab UI?'

# How about this one

In [25]:
ab={'Name':'Dhiraj','Age':21}

In [26]:
def transform_country(country):
    if country == 'USA':
        return 'United States'
    else:
        return country

In [28]:
sf['Country']=sf['Country'].apply(transform_country)

In [29]:
sf

Columns:
	First Name	str
	Last Name	str
	Country	str
	age	int
	Full Name	str
	AgeSqure	int

Rows: 7

Data:
+------------+-----------+---------------+-----+----------------+----------+
| First Name | Last Name |    Country    | age |   Full Name    | AgeSqure |
+------------+-----------+---------------+-----+----------------+----------+
|    Bob     |   Smith   | United States |  24 |   Bob Smith    |   576    |
|   Alice    |  Williams |     Canada    |  23 | Alice Williams |   529    |
|  Malcolm   |    Jone   |    England    |  22 |  Malcolm Jone  |   484    |
|   Felix    |   Brown   | United States |  23 |  Felix Brown   |   529    |
|    Alex    |   Cooper  |     Poland    |  23 |  Alex Cooper   |   529    |
|    Tod     |  Campbell | United States |  22 |  Tod Campbell  |   484    |
|   Derek    |    Ward   |  Switzerland  |  25 |   Derek Ward   |   625    |
+------------+-----------+---------------+-----+----------------+----------+
[7 rows x 6 columns]